.nav {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nav__item {
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
}


.logo-hero {
    width: 50%;
    height: 50%;
}